body{
	background-color: #7b8aca !important
}

.cuerpoprofe{
	background-color: #3f57c2 !important;
}

.tablaespecial{
	background-color: #FFF;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}