body{
	background-color: #f99e53 !important
}

.cuerpoprofe{
	background-color: #f77203 !important;
}

.tablaespecial{
	background-color: #FFF;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}