


/* ==========================================================================
   Author's custo
   m styles
   ========================================================================== */
@font-face{
	font-family: watermelon;
	src: url(..//fonts/Watermelon-Script/watermelon-script-demo.regular.ttf) format("truetype");
}

@font-face{
	font-family: titleletter;
	src: url(..//fonts/Ubuntu/Ubuntu-Bold.ttf) format("truetype");
}

@font-face{
	font-family: parrafoletter;
	src: url(..//fonts/PT_Sans/PT_Sans-Web-Regular.ttf) format("truetype");
}

html{
	min-height: 100%;
}

body{
	background-color: #7798D0;
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
.colorBarra{
	background-color: #222 !important;
}

.imgSlider{
	margin: auto;
	width: 100%;
	height: 800px !important;
	padding-top: 50px;
}

.imgnavbar{
	height: 50px;
	margin: -15px;
	opacity: 0.5;
}

.titImgSlider{
	font-size: 7em;
	color: #FFF;
	font-family: watermelon !important;
	position: relative;
	padding-bottom: 30%;
	text-shadow: -5px 5px 6px black;
}

.NavMenu{
	font-family: parrafoletter !important;
	font-size: 1.3em;
	margin-bottom: 2px;
}
.NavMenu:hover{
	border-bottom: 2px solid white;
	margin-bottom: 0px;
}

.NavMenuDesplegable{
	font-family: parrafoletter !important;
	font-size: 1.2em;
	color: #BCBCBC !important;
	display: inline-block;
	padding: 10px;
	display: block;
	padding: 10px 15px;
}
.NavMenuDesplegable:hover{
	color: black !important;
}

.NavLi{
	padding: 0px !important;
	margin: 0px !important;
}

.title{
	font-family: titleletter !important;
	font-size: 2em;
}

.titulo{
	padding-left: 50px !important;
}

.parrafosProfesorados{
	width: 80%;
	text-align: center;
	margin: 50px auto;
	font-size: 1.2em;
}

.parrafosDescProfe{
	width: 100%;
	text-align: center;
	margin: 30px auto;
}

.titProfesorados{
	text-align: center;
}

.cuerpo{
	font-family: parrafoletter;
	background-color: #5B7AAF;
	padding: 50px !important;
	color: #FFF;
}

.cuerpoancho{
	width: 80%;
	margin-top: 110px !important;
	margin-bottom: 70px !important;
	margin-left: auto;
	margin-right: auto;
}

.titcuerpo{
	padding: 10px;
	font-size: 2em;
	text-align: center;
}

.parrafoscuerpo{
	padding: 5px;
	text-align: justify;
	font-size: 1.2em;
}

#preinscripcion{
	text-align: center !important;
	margin: 30px auto;
}

#linkpreinscripcion{
	font-size: 3em;
	color: #FFF;
	transition: color 0.8s ease;
	-webkit-transition: color 0.8s ease;
	-moz-transition: color 0.8s ease;
	-o-transition: color 0.8s ease;
}
#linkpreinscripcion:hover{
	color: #A0A0A0;
}

footer{
	background-color: #080808;
	bottom: 0;
	width: 100%;
}

.alignFoot{
	text-align: center;
	color: #FFF;
}

#espacioFoot{
	padding: 10px;
}

.colorRedes{
	color:#FFF;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
}

.colorRedes:hover{
	color: #160BFA;
}

.linkRedes{
	display: inline;
}

.linksProfe{
	color: #FFF;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
}
.linksProfe:hover{
	color: #909090;
}

.distanciatablas{
	margin-top: 60px;
	margin-bottom: 20px;
}

.distfoot{
	margin-top: 10px !important;
}

.distparrafosfoot1{
	padding: 0px !important;
	margin: 0px !important;
}

.distparrafosfoot2{
	margin-top: 2px !important;
}


/*Celulares*/

@media only screen and (max-width: 768px){
	[class*="col-"] {
        width: 100%;
    }

    .imgSlider{
    	margin: auto;
		width: 100% !important;
		height: 270px !important;
		padding-top: 45px;
	}

	.titImgSlider{
		font-size: 2em;
		width: 90%;
		color: #FFFFFF;
		font-family: watermelon !important;
		position: relative;
		padding-bottom: 20%;
		padding-left: 5%;
		text-shadow: 3px 3px 5px #000;
	}

	.NavMenuDesplegable{
		padding: 0px 10px 0px 10px !important;
	}

	.titulo{
		padding-left: 10px;
		font-size: 0.7em;
	}

	.cuerpo{
		padding: 7px !important;
	}

	.titcuerpo{
	padding: 5px;
	font-size: 1.8em;
	text-align: center;
	}

    .cuerpoancho{
    	width: 80%;
		margin-top: 70px !important;
		margin-bottom: 30px !important;
		margin-left: auto;
		margin-right: auto;
    }

	#linkpreinscripcion{
	font-size: 1em;
	color: #FFF;
	}

	footer{
	background-color: #080808;
	bottom: -10%;
	width: 100%;
	}

	.titulo{
	padding-left: 20px !important;
	}

}



/*Tablets*/

@media only screen and (min-width: 769px) and (max-width: 1024px){
	[class*="col-"] {
        width: 100%;
    }

    .imgSlider{
    	margin: auto;
		width: 100% !important;
		height: 500px !important;
		padding-top: 50px;
	}

	.titImgSlider{
		font-size: 4em;
		width: 90%;
		color: #FFFFFF;
		font-family: watermelon !important;
		position: relative;
		padding-bottom: 20%;
		padding-left: 5%;
		text-shadow: 3px 3px 5px #000;
	}

	.titulo{
	padding-left: 10px;
	font-size: 0.7em;
	}

	.cuerpo{
		padding: 5px;
	}

	.cuerpoancho{
    	width: 80%;
		margin-top: 100px !important;
		margin-bottom: 50px !important;
		margin-left: auto;
		margin-right: auto;
	}

	.titcuerpo{
	padding: 5px;
	font-size: 1.8em;
	text-align: center;
	}

	#linkpreinscripcion{
	font-size: 1em;
	color: #FFF;
	}

	footer{
	background-color: #080808;
	width: 100%;
	}
	.titulo{
	padding-left: 30px !important;
	}

}







