.anchonormativa{
	width: 90% !important;
	margin: auto;
}

hr{
	clear: both;
	width: 30%;
	height: 1px;
	margin: 10px auto 5px auto;
}

.colorIconos{
	color: #FFF;
	text-align: center;
	transition: color 1s ease;
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-o-transition: color 1s ease;
}
.colorIconos:hover{
	color: red;
	
}

.colorParrafos{
	color: #FFF;
	text-align: center;
}

.linkNormativa{
	display: inline !important;
}

.margenparahr{
	margin-bottom: 20px;
	clear: both;
	float: none;
}

.centrar{
	text-align: center;
}

.colorfondo{
	background-color: red;
}

.diseñoscurriculares{
	text-align: center !important;
	font-size: 1.5em;
	padding: 50px;
}

.subrayado{
	text-decoration: underline;
}

.ancho{
	width: 80%;
	margin-top: 110px !important;
	margin-bottom: 70px !important;
	margin-left: auto;
	margin-right: auto;
}

.disthr{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}

/*Celular*/

@media only screen and (max-width: 768px){
	[class*="col-"] {
        width: 100%;
    }
    .anchonormativa{
    	width: 100% !important;
    }

    .diseñoscurriculares{
	text-align: center !important;
	font-size: 1em;
	padding: 10px !important;
	}

	.ancho{
	width: 80%;
	margin-top: 80px !important;
	margin-bottom: 30px !important;
	margin-left: auto;
	margin-right: auto;
	}
}

/*Tablets*/

@media only screen and (min-width: 769px) and (max-width: 1024px){
	[class*="col-"] {
        width: 100%;
    }
    .anchonormativa{
    	width: 100% !important;
    }

    .diseñoscurriculares{
	text-align: center !important;
	font-size: 1.2em;
	padding: 20px !important;
	}

	.ancho{
	width: 80%;
	margin-top: 100px !important;
	margin-bottom: 50px !important;
	margin-left: auto;
	margin-right: auto;
	}
}